@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', 'PT Sans', 'Plus Jakarta Sans', sans-serif;
}

/* * ------------------------------------ Starting Setup ------------------------------------ */
html, body, div {
    margin: 0;
}

/* * ------------------------------------ HEADER ------------------------------------ */
.bar-progress {
    
}
header {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    background-color: aqua;
    grid-template-columns: repeat(2, 50%);
}

.left-side {
    background-color: #f0ffff ;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.circle {
    position: absolute;
    top: 0;
    right: 0;
    height: 20em;
    width: 20em;
    background-color: #FFDA54;
    clip-path: ellipse(50% 50% at 95% 10%);
}
.text {
    margin: 0 24% 0 17%;
}

.text h1 {
    font-size: 70px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.text p {
    line-height: 1.5;
}
.buttons {
    margin: 0 15% 0 17%;
    display: flex;
    justify-content: space-between;
}
.buttons * {
    background-color: #1E2432;
    padding: 15px;
    border-radius: 40px;
    cursor: pointer;
}

.buttons a {
    text-decoration: none;
    color: #f0ffff;
    font-weight: 900;
}

.right-side {
    display: grid;
    grid-template-areas:
    "img-preview img-preview"
    "img-desc empty-space";
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
}
.img-preview {
    grid-area: img-preview;
    background-color: #0198FF;
}
/* * ------------------------------------ MENU ------------------------------------ */
.menu {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color:#FFDA54;
}
#menuLogo2 {
    display: none;
}

/* * ------------------------------------ DOWNSIDE ------------------------------------ */
h1.title-photos {
    display: none;
    text-align: center;
    font-size: 27px;
}
.down-side {
    display: none !important;
    margin: auto;
    height: 50%;
    width: 80%;
    transform: translateY(-120%);
}
.down-side .box {
    margin: auto;
    width: 50%;
    height: 50%;
}
.down-side .box img {
    width: 100%;
    object-fit: contain;
}

ul.slick-dots {
    /* display: flex;
    flex-direction: column;
    transform: translate(100px, 100px); */
}

ul.slick-dots button {
    background-color: #f0ffff;
    color: azure;
}



/* * ------------------------------------ SLICK FOR HEADER ------------------------------------ */
.my-slick {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
}

.img-desc {
    grid-area: img-desc;
    background-color: #1A49BA;
}
.empty-space {
    grid-area: empty-space;
    background-color: #F9B8C4;
}
.right-side .slick-dots {
    display: flex;
    flex-direction: column;
    transform: translate(2em, 6em);
    z-index: 100;
}
.slick-slide p {
    transform: translate(4em, 6em);
    z-index: 100;
}

/* * ------------------------------------ NAVIGATION BAR ------------------------------------*/
nav {
    display: flex;
    width: 500px;
    position: absolute;
    top: 0;
    align-items: center;
    margin: 1.5em 0 0 2em ;
    /* border: 1px solid #000000; */
}
nav img {
    max-width: 80%;
}
nav .nav-lists{
    display: flex;
    column-gap: 20px;
}

.nav-list {
    list-style: none;
    font-weight: bolder;
}

.nav-list:hover {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.nav-list a {
    color: #000000;
    text-decoration: none;
}

/* * ------------------------------------ SECTIONS ------------------------------------ */


/* * ------------------------------------ VIDEO SECTION ------------------------------------ */
.video-sija {
    position: relative;
    width: 70%;
    margin: 5em auto;
}
.video-id {
    border-radius: 30px;
}
#fluid_video_wrapper_video-id {
    width: 100% !important;
}

/* ! ------------------------------------ RESPONSIVE PAGE ------------------------------------ */


@media screen and (max-width: 743px) {
    .grid-header {
        height: 200vh;
        /* display: flex; */
        /* flex-direction: column; */
        grid-template-columns: 100%;
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 10% 0 0;
    }
    nav .nav-lists{
        display: none;
    }
    .left-side {
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .right-side {
        display: none;
        flex-direction: column;
        width: 100vw;
    }
    .img-preview {
        width: 100vw;
        height: 75%;
    }
    .img-desc {
        width: 100vw;
        height: 25%;
    }
    .kotak {
        display: none;
    }

    .video-sija {
        width: 92%;
    }

    .text {
        margin: 200px auto 0;
        text-align: center;
        padding: 0 2%;
    }

    .text h1 {
        font-size: 40px;
        text-underline-offset: 10px;
    }

    .buttons {
        margin: auto;
        flex-direction: column;
        row-gap: 1em;
    }

    .menu {
        /* display: flex; */
        width: 100%;
        height: 100%;
        z-index: 2;
        /* opacity: 0; */
        /* transition: 1s    ease-in; */
    }
    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
    }
    .menuLogo1#menuLogo1 {
        display: block;
        width: auto;
        font-size: 50px;
        width: 70px;
        height: 70px;
    }
    .menuLogo2#menuLogo2 {
        display: block;
        width: 70px;
        height: 70px;
        font-size: 40px;
    }
    .nav-lists-menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
    .nav-lists-menu a {
        text-decoration: none;
        color: #000000;
        font-weight: 900;
        font-size: 27px;
    }
    h1.title-photos, .down-side {
        display: block !important;
    }
}